.poi-card {
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  border: 4px solid #333;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.white {
  color: #fff;
}

.yellow {
  color: yellow;
}
