<div>
  <h1>{{siteTitle}}</h1>

  <h2>{{lesson.name}} {{lesson.vol}}</h2>


<poi-card @fontColor="yellow" @person="John Reese"/>
<poi-card />
<poi-card @fontColor="white"/>
<poi-card  @person="Lionel Fusco"/>
<poi-card  @person="Root"/>
</div>